<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bnsp.ujian.ikowirya.ujianbnsp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Soal1.Soal1Activity"
            android:label="@string/BNSPSoal1" />
        <activity
            android:name=".Soal1.ResultActivity"
            android:label="@string/BNSPSoal1" />
        <activity
            android:name=".Soal2.Soal2Activity"
            android:label="@string/BNSPSoal2">

        </activity>
        <activity
            android:name=".Soal2.InputDataSoal2Activity"
            android:label="@string/BNSPSoal2" />
        <activity android:name=".Soal2.UpdateDataSoal2Activity" />
        <activity android:name=".Soal2.LihatDataSoal2Activity" />
        <activity android:name=".MainActivity"
            android:label="Ujian BNSP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>